/* Basic Typography */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #212121;
    background-color: #FAFAFA;
  }
  
  /* Material Design Colors */
  .primary-color {
    background-color: #6200EA; /* Example Primary Color */
    color: #FFFFFF;
  }
  
  .accent-color {
    background-color: #03DAC6; /* Example Accent Color */
    color: #000000;
  }
  
  /* Card Styling */
  .card {
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Elevation shadow */
    background-color: #FFFFFF;
    border-radius: 4px;
    padding: 16px;
    margin: 10px;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Elevated shadow on hover */
  }
  
  /* Buttons */
  .button {
    background-color: #6200EA;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #3700B3; /* Darker shade on hover */
  }
  
  /* Utility Classes */
  .text-center {
    text-align: center;
  }

  html, body {
    height: 100%; /* Ensure the full height is taken */
    margin: 0; /* Remove default margin */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    overflow: hidden; /* Prevent scrolling on the body directly */
  }

  .container {
    padding: 20px; /* Add padding around the content */
    margin-top: 50px; /* Consistent space at the top */
    width: 100%; /* Full width */
    max-width: 100%; /* Limit width to prevent overflow */
    height: auto; /* Adjust height based on content */
    overflow-y: auto; /* Enable scrolling within the container if needed */
  }

  .central-card {
    margin: auto; /* Center the card within the container */
    position: relative; /* Ensure it's positioned relative to its container */
    overflow-y: auto; /* Scroll inside the card if content overflows */
    width: 100%;
    min-width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 20px;
    text-align: center;
    max-height: 100%; /* Limit the height to the viewport */
  }

  #priceChart {
    width: 100%;
    height: 300px;
  }

  .wallet-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .wallet-entry span {
    flex-grow: 1;
    cursor: pointer;
  }

  .wallet-entry button {
    margin-left: 10px;
  }
